.question-block {
	border: solid 2px black;
	border-radius: 5px;
	padding: 20px;
}

.output-xs {
	border: solid 1px black;
	border-radius: 5px;
	height: 26px;
	width: 36px;
}

.answer-block {
	border: solid 1px grey;
	border-radius: 5px;
	padding: 20px;
}