{% extends 'app/base.html' %}
{% block content %}
    <div class="w-50 mx-auto">
        <h3 class="mt-2">Settings</h3>
        {% if error_message %}
            <text class="text-danger">{{ error_message }}</text>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col-3">
                    <text class="text-secondary">Login:</text>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="username" placeholder="{{ user.username }}">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <text class="text-secondary">Email:</text>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="email" placeholder="{{ user.email }}">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <text class="text-secondary">Name:</text>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="name" placeholder="{{ user.name }}">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <text class="text-secondary">Upload avatar:</text>
                </div>
                <div class="col-6 form-inline">
                    <input type="text" class="form-control col-6" name="avatar" placeholder="File path">
                    <button type="button" class="btn btn-secondary ml-4">choose file</button>
                </div>
            </div>
            <button type="submit" class="btn btn-success my-2">Submit</button>
        </form>
    </div>
{% endblock %}