{% extends 'app/base.html' %}
{% block content %}
    <div class="w-50 mx-auto">
        <h3 class="mt-2">Sign Up</h3>
        <text class="text-danger">Error</text>
        <div class="row mt-2">
            <div class="col-4">
                <text class="text-secondary">Login:</text>
            </div>
            <div class="col-6">
                <form>
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <text class="text-secondary">Email:</text>
            </div>
            <div class="col-6">
                <form>
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <text class="text-secondary">Name:</text>
            </div>
            <div class="col-6">
                <form>
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <text class="text-secondary">Password:</text>
            </div>
            <div class="col-6">
                <form>
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <text class="text-secondary">Repeat password:</text>
            </div>
            <div class="col-6">
                <form>
                    <input type="text" class="form-control">
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <text class="text-secondary">Upload avatar:</text>
            </div>
            <div class="col-6">
                <form class="form-inline">
                    <input type="text" class="form-control col-6" placeholder="File path">
                    <button type="button" class="btn btn-secondary ml-4">choose file</button>
                </form>
            </div>
        </div>
        <button type="submit" class="btn btn-success my-2">sign up</button>
    </div>
{% endblock %}